.products-table {
  width: 100%;
  background-color: #ffffff;
}

.products-container {
  width: 98%;
}

.mat-sort-header-container {
  align-items: center;
}

.filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 240px;
}
