.customer-card {
  max-width: 240px;
}

.customer-header-image {
  background-size: cover;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-list .mat-list-item {
  height: 25px; /* default is 72px */
  font-size: 1.0em;
}