<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    disableClose="true"
    opened="true"
    [@openClose]="isExpanded ? 'open' : 'closed'"
  >
    <mat-nav-list class="sidenav-list">
      <mat-list-item
        *ngFor="let item of sidenavLinks"
        class="sidenav-link"
        [routerLink]="item.link"
      >
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <h4 mat-line *ngIf="isExpanded">{{ item.title }}</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div
    class="sidenav-content"
    [@openCloseContent]="isExpanded ? 'open' : 'closed'"
  >
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
